<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @comment.review %>
</p>

<p>
  <strong>Raiting:</strong>
  <%= @comment.raiting %>
</p>

<p>
  <strong>Role:</strong>
  <%= @comment.role %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
